@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*
    Styling Author part of the page (not related to Testimonials assignment)
*/
.author {

    margin-top: 30px;
    margin-bottom: 150px;

    text-align: center;
    color: dimgray;
}

.author a {

    color: dimgray;
    text-decoration: none;
}

/*
    Main part of the page - card-container, contains all HTML elements neccessary to create profile card:
    1. First section contains profile picture
    2. Second section contains profile name, age, location
    3. Third section contains information on person's number of followers, likes and photos
*/
.card-container {

    /* Setting shape, size, alignment and coloring */
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0px rgba(105,105,105,1);
    background-color: white;
    width: 20%;
    margin: auto;
    
    /* Setting font for the entire main part of the page */
    font-family: "Kumbh Sans";
    
    /* 
        - Setting overflow (In order to have rounded edges for child background image)
        - Setting relative position and z-index in order to display card on top of background circles 
    */
    overflow: hidden;
    position: relative;
    z-index: 2;
}

/* 
    Styling profile image container: 
    - Setting overall background
    - Aligning image itself to the center
    - Moving profile picture from the top
    - Making profile picture have circular shape
*/
.profile-image {

    background-image: url("../images/bg-pattern-card.svg");
    text-align: center;
    padding: 15px;
}

.profile-image img {

    border-radius: 100%;
    border: 5px solid white;
    background-color: white;

    position: relative;
    top: 70px;
}

/* 
    Profile details is a section containing one paragraph which is split in three parts:
    - Name
    - Age
    - Location
*/
.profile-details {

    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.name {

    font-weight: 700;
    font-size: 18px;
}

.age {

    color:hsl(0, 0%, 59%);
    font-size: 18px;
    margin-left: 5px;
}

.location {

    font-size: 14px;
    color:hsl(0, 0%, 59%);
    margin-top: 12px;
    display: block;
}

/* 
    Profile numbers section is a flexbox containing three paragraphs, each paragraph have two parts:
    1. Value (e.g. 80K)
    2. Type (e.g. Followers)
*/
.profile-numbers {

    display: flex;
    text-align: center;
    justify-content: space-around;

    padding: 25px;
    border-top: 1px solid hsl(0, 0%, 85%);
}

.value {

    font-weight: 700;
    font-size: 18px;
}

.type {

    font-size: 10px;
    color:hsl(0, 0%, 59%);

    letter-spacing: 1px;
    margin-top: 3px;
}

/* 
    Setting top circle as a background image
*/
.top-image {

    /* Setting background image and changing size */
    background-image: url("../images/bg-pattern-top.svg");
    background-size: contain;
    background-repeat: no-repeat;

    /*  
        Setting top image as a background with fixed position on the top, 
        moved towards correct corner 
    */
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-40%, -45%);

    /* 
        Changing the default size.

        Height must be dependant on the width because when Chrome Dev Tools are added 
        it changes the hight hence breaking the design.
    */
    height: 78vw; 
    width: 83vw;
        
  }

/* 
    Setting bottom circle as a background image
*/
.bottom-image {

    /* Setting background image and changing size */
    background-image: url("../images/bg-pattern-bottom.svg");
    background-size: contain;
    background-repeat: no-repeat;

    /*  
        Setting top image as a background with fixed position on the top, 
        moved towards correct corner 
    */
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(35%, 60%);

    /* 
        Changing the default size.

        Height must be dependant on the width because when Chrome Dev Tools are added 
        it changes the hight hence breaking the design.
    */
     height: 78vw; 
     width: 83vw;
}

/* 
    Widening the card on lower resolution
*/
@media only screen and (max-width: 1000px) {

    .card-container {
        
        width: 40%;
    }
}

/* 
    Widening the card on lower resolution and modifying circles position
*/
@media only screen and (max-width: 700px) {

    .card-container {
        
        width: 60%;
    }

    .top-image {

        transform: translate(-40%, -24%);
      }
}

/* 
    Media query for mobile size screen
*/
@media only screen and (max-width: 375px) {

    .card-container {
        
        width: 90%;
        margin-bottom: 100px;
    }

    .top-image {

        transform: translate(-30%, -5%);
      }
   
}